<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-gray-100">
    <div class="container mx-auto p-6">
    <h1>hei</h1>
        <h1 class="text-4xl font-bold text-center my-6">Welcome to the Home Page</h1>
        <div class="flex justify-between">
            <a href="{{ url_for('login') }}" class="px-6 py-2 bg-blue-500 text-white rounded-lg hover:bg-blue-600">Login</a>
            <a href="{{ url_for('signup') }}" class="px-6 py-2 bg-green-500 text-white rounded-lg hover:bg-green-600">Sign Up</a>
        </div>
    </div>
</body>
</html>
